<%- include('../includesProve/head.ejs') %>
</head>
<body>
    <%- include('../includesProve/nav.ejs') %>

    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li>
                        <p><%= p.productId.tittle %> (<%= p.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Order Now!</button>
            </form>
        <% } else { %>
            <h1>No products in Cart yet</h1>
        <% } %>
    </main>

    <%- include('../includesProve/end.ejs') %>